* {
    margin: 0;
    padding: 0;
}

body{
    padding: 10px;
}
.header{
    display: flex;
    background-color: aqua;
}

.header__title{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    justify-content: center;
    text-align: center;
    width: min-content;
    white-space: nowrap;
    padding: 20px;
    margin: auto;
    transition: transform 2s linear ;
}

.header__title:hover{
    transform: scale(1.1);
}

.header__title::before{
    content: "a";
    color: transparent;
    box-sizing: border-box;
    display: block;
    background-color: blueviolet;
    position: absolute;
   
    width: 100%;
    opacity: 0.5;
    border: 5px solid black ;
    border-radius: 5%;    
   
}

.rules {
    padding: 5px;
    background-color: aqua;
}

.rules__list {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

.rules__list-item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.rules__text {
    display: inline-block;
    max-width: max-content;
    margin-left: 1vw;
    outline: 2px solid black;
}

.rules__list-point {
    transform: scale(1.1);
}