* {
    margin: 0;
    padding: 0;
}

.header{
    background-image: url("../images/background.jpg");
}

.header__title{
    position: relative;
    display: inline-block;
    padding: 20px;
}

.header__title::before{
    content: "a";
    color: transparent;
    box-sizing: border-box;
    display: block;
    background-color: blueviolet;
    position: absolute;
    min-width: 100%;
    opacity: 0.5;
    border: 5px solid black ;
    border-radius: 5%;    
    left: 10px;
}

.rules {
    background-image: url("../images/background.jpg");
}

.rules__list {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

.rules__list-item {
    
}

.rules__text {
    padding-left: 1vw;
}