* {
    margin: 0;
    padding: 0;
}

body{
    padding: 10px;
}
.header{
    background-image: url("../images/background.jpg");
}

.header__title{
    position: relative;
    text-align: center;
    padding: 20px;
}

.header__title::before{
    content: "a";
    color: transparent;
    box-sizing: border-box;
    display: block;
    background-color: blueviolet;
    position: absolute;
   
    width: 95%;
    opacity: 0.5;
    border: 5px solid black ;
    border-radius: 5%;    
   
}

.rules {
    background-image: url("../images/background.jpg");
}

.rules__list {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

.rules__list-item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.rules__text {
    display: inline-block;
    max-width: max-content;
    padding-left: 1vw;
    outline: 2px solid black;
}